{
    "semi": false,
    "tabWidth": 2,
    "bracketSpacing": true,
    "singleQuote": true,
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "ignore",
    "trailingComma": "none",
    "endOfLine": "lf"
}